project_id              = "my-gcp-project"
region                  = "europe-west3"
zone                    = "europe-west3-a"
create_vpc              = true
vpc_name                = "ora-dbcs-vpc"
gcp_subnet_cidr         = "10.140.0.0/20"
odb_network_id          = "ora-dbcs-odb-net"
odb_client_subnet_id    = "ora-dbcs-subnet"
odb_client_subnet_cidr  = "10.150.20.0/24"
db_system_id            = "dbcs-primary"
ssh_public_keys         = ["ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC..."]
ecpu_core_count         = 4
hostname_prefix         = "dbcsnode"
db_name                 = "ORCL"
db_unique_name          = "ORCL_GCP"
admin_pw                = "SecretPassword123#"
tde_pw                  = "SecretPassword123#"
deletion_protection     = false
