project_id              = "my-gcp-project"
region                  = "europe-west3"
zone                    = "europe-west3-a"
create_vpc              = true
vpc_name                = "ora-adbs-vpc"
gcp_subnet_cidr         = "10.140.0.0/20"
odb_network_id          = "ora-adbs-odb-net"
odb_client_subnet_id    = "ora-adbs-client-subnet"
odb_client_subnet_cidr  = "10.150.20.0/24"
autonomous_database_id  = "adbs-primary"
adb_admin_password      = "SecretPassword123#"
ecpu_count              = 4
data_storage_size_tb    = 1
db_version              = "19c"
workload_type           = "OLTP"
license_type            = "BRING_YOUR_OWN_LICENSE"
is_auto_scaling_enabled = true
deletion_protection     = false
