project_id                      = "my-gcp-project"
region                          = "europe-west3"
zone                            = "europe-west3-a"
create_vpc                      = true
vpc_name                        = "ora-exacs-vpc"
gcp_subnet_cidr                 = "10.140.0.0/20"
odb_network_id                  = "ora-exacs-odb-net"
odb_client_subnet_id            = "ora-exacs-client-subnet"
odb_client_subnet_cidr          = "10.150.20.0/24"
odb_backup_subnet_id            = "ora-exacs-backup-subnet"
odb_backup_subnet_cidr          = "10.150.21.0/24"
cloud_exadata_infrastructure_id = "exa-infra-primary"
exadata_shape                   = "Exadata.X11M"
compute_count                   = 2
storage_count                   = 3
cloud_vm_cluster_id             = "exa-vmcluster-primary"
license_type                    = "BRING_YOUR_OWN_LICENSE"
ssh_public_keys                 = ["ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC..."]
cpu_core_count                  = 32
memory_size_gb                  = 60
db_node_storage_size_gb         = 120
data_storage_size_tb            = 2
gi_version                      = "19.0.0.0"
hostname_prefix                 = "exanode"
deletion_protection             = false
